body {
    
    height: 100vh; 
    margin: 0px; 
    overflow: hidden; 
}

#gallery {
    background-color: LightGray;
    height: 140vmax; 
    width: 140vmax; 
    position: absolute; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.tile {
    border-radius: 1vmax; 
    position: absolute; 
    transition: transform 800ms ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
}

.tile:hover {
    transform: scale(1.1); 
}

.tile:hover > img {
    opacity: 1; 
    transform: scale(1.01); 
}

.tile > img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    border-radius: inherit; 
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease; 
}

.tile:nth-child(1) {
    background-image: url('../image/등장인물/덤블도어.png');
    height: 15%;
    width: 15%;
    left: 2%;
    top: 2%;
}

.tile:nth-child(2) {
    background-image: url('../image/등장인물/해리포터1.jpg');
    height: 21%;
    width: 15%;
    left: 42%;
    top: 12%;
}

.tile:nth-child(3) {
    background-image: url('../image/등장인물/헤르미온느 그레인저.png');
    height: 20%;
    width: 20%;
    left: 4%;
    top: 55%;
}

.tile:nth-child(4) {
    background-image: url('../image/등장인물/볼드모트2.png');
   
    height: 20%;
    width: 21%;
    left: 40%;
    top: 48%;
}

.tile:nth-child(5) {
    background-image: url('../image/등장인물/론\ 위즐리1.png');
    
    height: 16%;
    width: 18%;
    left: 8%;
    top: 80%;
}

.tile:nth-child(6) {
    background-image: url('../image/등장인물/시리우스2.png'); 
    
    height: 18%;
    width: 18%;
    left: 72%;
    top: 3%;
}

.tile:nth-child(7) {
    background-image: url('../image/등장인물/도비.png');
    height: 17%;
    width: 20%;
    left: 40%;
    top: 80%;
}

.tile:nth-child(8) {
    background-image: url('../image/등장인물/스네이프.png');
    
    height: 20%;
    width: 20%;
    left: 77%;
    top: 42%;
}

.tile:nth-child(9) {
    background-image: url('../image/등장인물/네빌1.jpg');
    
    height: 18%;
    width: 17%;
    left: 80%;
    top: 79%;
}
.tile:nth-child(10) {
    background-image: url('../image/등장인물/말포이1.png');
   
    height: 18%;
    width: 22%;
    left: 5%;
    top: 25%;
}


@font-face {
    font-family: 'Harry Potter Regular'; 
    font-style: normal; 
    font-weight: normal;
    src: local("Harry Potter Regular"), url("../css/Harry\ Potter\ Regular.ttf") format('woff'); 
}

:root {
    --cover-timing: 0.5s; 
    --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
    --cover-stagger: 0.15s; 
    
    --text-timing: .75s;
    --text-stagger: 0.015s; 
    --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07); 
    
    --title-stagger: 0.05s; 
    --highlight: white; 
}

.card {
    box-shadow:
    rgba(255,255,255,0.3) 0 5vw 6vw -8vw,
    rgba(255,255,255,0) 0 4.5vw 5vw -6vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, 
    rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
    transition: box-shadow 1s var(--cover-ease); 
}

.card::before,
.card::after {
    content: ""; 
    width: 100%; 
    height: 50%; 
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    position: absolute; 
    transform-origin: left; 
    transform: scaleX(0); 
    transition: all var(--cover-timing) var(--cover-ease); 
    z-index: 1; 
}

.card::after {
    transition-delay: var(--cover-stagger); 
    top: 50%; 
}
.card:hover::before,
.card:focus::before,
.card:hover::after,
.card:focus::after {
    transform: scaleX(1); 
}

.text {
    visibility: hidden; 
    position: absolute;
    inset: 20px; 
    top: auto; 
    transition: visibility 0.5s ease-in-out 0.2s, opacity 0.5s ease 0.3s; 
}

.card:hover .text,
.card:focus .text {
    visibility: visible; 
    opacity: 1; 
    
}

h2 {
    font-size: clamp(1em, 3vw, 1.5em); 
    font-weight: 800; 
    margin-bottom: 0.2em; 
}

p {
    font-size: clamp(0.5em, 1vw, 1em);
    line-height: 1.4;
    text-align: justify; 
    margin-top: 0.2em;
    margin-bottom: 0; 
}
body, html {
    color: white; 
    background: #333844; 
    font-family: "Harry Potter Regular", sans-serif; 
}
#snitch {
    position: fixed;
    width: 100px; 
    height: auto;
}
#trail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
}
.trail {
    position: absolute;
    color: black; 
    opacity: 0.8; 
    user-select: none; 
    font-size: 16px;
    font-weight: bold; 
}



